@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
	margin: 0px;
	padding: 0px;	
}

a {
	text-decoration: none;
}

ul{
	list-style: none;
}

#header{
	height: 225px;
	text-align: center;
	line-height: 200px;
	letter-spacing: 0.2em;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 25px;
	color: #f8a501;
	font-weight: 600;
	text-shadow: 3px 3px 2px #bc0001;
}

#section{
	text-align: center;
	height: 650px;
}

#table{
	margin-left: auto;
	margin-right: auto;
}	

.p{
	text-align: left;
	font-family: 'Do Hyeon', sans-serif;
}

.default{
	margin: 0px 5px 10px 0px;
	width: 300px;
	height: 25px;
	font-family: 'Do Hyeon', sans-serif;
}

#birth{
	margin: 0px 5px 10px 0px;
	width: 300px;
	height: 25px;
	font-family: 'Do Hyeon', sans-serif;
}

#gender{
	margin: 0px 5px 10px 0px;
	width: 302px;
	height: 27px;
	font-family: 'Do Hyeon', sans-serif;
}

#email{
	margin: 0px 5px 10px 0px;
	width: 300px;
	height: 25px;
	font-family: 'Do Hyeon', sans-serif;
}

#submit{
	margin: 0px 5px 10px 0px;
	width: 304px;
	height: 29px;
	font-family: 'Do Hyeon', sans-serif;
}
